div {
    background-color: black;
    border-color: rgb(149, 204, 47); 
}

h1{

background-color: black;
color:rgb(149, 204, 47); 
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
border-radius: 2px;
border-color: green;
}

h2{
    color:thistle;
}

.button{
    color: black;
    background-color: white;
    border-color: brown;
    tab-size: 5ch;
    opacity: 4;
    position: relative;
    
}
body{
    background-color: black;
}