.navbar{
  background-color: black;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color:white;
  color: black;
}

.navbar a.active {
  background-color: green;
  color: white;
}


/* .navbar a:visited{
  color: ;
} */



.main{
  background-image: url(images/laptop-office-plant-black-background-top-view.jpg);
  width: 100%;
  height: 30rem;
}

#about{
  color: aliceblue;
  position: relative;
}

#projects{
  position: relative;
}

#contact{
  position: relative;
}


